.mainTitle {
    font-size: 100px;
}

.container {}

.selectTitle {
    margin: 20px 0px;
}

.items {
    display: flex;
    gap: 50px;
}

.item {
    border: 5px solid #bbb;
    border-radius: 5px;
    width: 320px;
    height: 400px;
    position: relative;
}

.item:nth-child(1) {
    background: url("/illustration.png");
    background-size: cover !important;
    background-repeat: no-repeat;
}

.item:nth-child(2) {
    background: url("/websites.jpg");
    background-size: cover !important;
    background-repeat: no-repeat;
}

.item:nth-child(3) {
    background: url("/apps.jpg");
    background-size: cover !important;
    background-repeat: no-repeat;
}

.title {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-weight: bold;
    font-size: 40px;
}

.item:hover .title {
    color: #53c28b
}